.container-formulario {
    background-color: #f9f9f9;
    padding: 30px;
    margin: 0px 0; /* Remove as margens laterais */
    border-radius: 0; /* Remove o arredondamento para ocupar toda a largura */
    width: 95%; /* Garante que ocupe toda a largura */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

  
  .titulo-formulario {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .campo-formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .label-formulario {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-formulario,
  .textarea-formulario {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .textarea-formulario {
    height: 100px;
    resize: none;
    color: 333;
  }
  
  .botao-enviar {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .botao-enviar:hover {
    background-color: #333;
  }
  